<nav class="navbar navbar-light navbar-expand-md py-3" style="background: rgba(241,242,244,0.8);border-bottom: 1px solid #dfe3e7;">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span>LeagueGanG</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a href="#" class="aHeaded">Account Checker</a>
                </li>
                <li class="nav-item"><a href="#" class="aHeaded">MMR Checker</a></li>
                <li class="nav-item"><a href="#" class="aHeaded">Support</a></li>
            </ul>
        </div>
        <h1 th:text = "${username}" style="color: rgba(34,110,147,1);font-weight: bold;font-size: 25px;margin-right: 40px;">Heading</h1><button id="logoutButton" class="btn btn-dark me-0 me-xl-3 btnSign" type="button" style="height: 38px;">Logout</button>
    </div>
</nav>
<script src = "/js/logoutConfirm.js"></script>