<footer>
  <div class="row">
    <div class="col-sm-6 col-md-4 footer-navigation">
      <h3><a href="#">LeagueGanG</a></h3>
      <p class="company-name">Copyright 2023 LeagueGanG, All Rights Reserved.</p>
    </div>
    <div class="col-sm-6 col-md-4 footer-contacts">
      <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
        <p><span class="new-line-span">Am Studio 20A</span> Berlin, Germany</p>
      </div>
      <div><i class="fa fa-envelope footer-contacts-icon"></i>
        <p> <a href="#" target="_blank">drafasenos317@gmail.com</a></p>
      </div>
    </div>
    <div class="col-md-4 footer-about">
      <h4>About the company</h4>
      <p> We provide services in League of Legends.</p>
      <div class="social-links social-icons"></div>
    </div>
  </div>
</footer>