<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LeagueGanG</title>
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Footer-.css">
    <link rel="stylesheet" href="/assets/css/Projects-Grid-images.css">
    <link rel="stylesheet" href="/assets/css/Signup-page-with-overlay.css">


</head>

<body style="background: var(--bs-gray-300);height: 100%;width: 100%;">


    <!-- HEADER -->

    <th:block th:if="${authenticated}" th:insert="thymeleafParts/authorizeHeader.html"></th:block>
    <th:block th:unless="${authenticated}" th:insert="thymeleafParts/unauthorizeHeader.html"></th:block>


    <div id="mainContent">


        <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto pt-0 mt-5">
            <h2 style="font-size: 45px;">LeagueGanG</h2>
            <p style="font-size: 26px;">Чтобы купить RP или Wintrade аккаунты, а также много интересного вступайте в наш Discord.</p><button class="btn btn-dark mt-5 me-4 btnRegion" type="button" id="buttonEUW" >EUW</button><button class="btn btn-dark mt-5 me-4 btnRegion button-highlight" type="button" id="buttonRU">RU</button>
        </div>
    </div>
    <div class="container">
        <div class="row d-xl-flex justify-content-xl-start align-items-xl-start product-list dev">
            <div class="col-sm-6 col-md-4 col-xl-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="/assets/img/Teemo_0.jpg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2></h2>
                            <p class="productName">RU | Active | 30+</p>
                        </div>
                        <div class="col-4"><a class="small-text" href="#"></a></div>
                    </div>
                    <div class="product-rating me-0 ms-0 ps-0 pe-0">

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-light link-dark btnBuyProduct" type="button" data-button-id="first" onclick="document.location='https://www.digiseller.market/asp2/pay_wm.asp?id_d=3782083&lang=ru-RU'">Purchase</button>
                                </div>
                                <div class="col-6">
                                    <p class="product-price">$0.50</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="/assets/img/teemos.jpg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2></h2>
                            <p class="productName">RU | Inactive | 30+</p>
                        </div>
                        <div class="col-4"><a class="small-text" href="#"></a></div>
                    </div>
                    <div class="product-rating me-0 ms-0 ps-0 pe-0">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-light link-dark btnBuyProduct" type="button" data-button-id="second" onclick="document.location='https://www.digiseller.market/asp2/pay_wm.asp?id_d=3783033&lang=ru-RU'">Purchase</button>
                                </div>
                                <div class="col-6">
                                    <p class="product-price">$1.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="/assets/img/Teemo_1.jpg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2></h2>
                            <p class="productName">RU | IRON-BRONZE</p>
                        </div>
                        <div class="col-4"><a class="small-text" href="#"></a></div>
                    </div>
                    <div class="product-rating me-0 ms-0 ps-0 pe-0">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light link-dark btnBuyProduct" type="button" data-button-id="third" onclick="document.location='https://www.digiseller.market/asp2/pay_wm.asp?id_d=3783037&lang=ru-RU'">Purchase</button></div>
                                <div class="col-6">
                                    <p class="product-price">$0.70</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="/assets/img/maxresdefault.jpg"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2></h2>
                            <p class="productName">RU | SILVER</p>
                        </div>
                        <div class="col-4"><a class="small-text" href="#"></a></div>
                    </div>
                    <div class="product-rating me-0 ms-0 ps-0 pe-0">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light link-dark btnBuyProduct" type="button" data-button-id="fourth" onclick="document.location='https://www.digiseller.market/asp2/pay_wm.asp?id_d=3783038&lang=ru-RU'">Purchase</button></div>
                                <div class="col-6">
                                    <p class="product-price">$1.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4 product-item animation-element slide-top-left" style="margin-bottom: 10px;">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="/assets/img/Teemo_18.jpg" style="width: 220px;height: 130px;"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2></h2>
                            <p class="productName">RU | GOLD</p>
                        </div>
                        <div class="col-4"><a class="small-text" href="#"></a></div>
                    </div>
                    <div class="product-rating me-0 ms-0 ps-0 pe-0">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light link-dark btnBuyProduct" type="button" data-button-id="fifth" onclick="document.location='https://www.digiseller.market/asp2/pay_wm.asp?id_d=3783040&lang=ru-RU'">Purchase</button></div>
                                <div class="col-6">
                                    <p class="product-price">$2.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="/assets/img/Teemo_25.jpg" style="width: 220px;height: 130px;"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2></h2>
                            <p class="productName">RU | PLATINUM</p>
                        </div>
                        <div class="col-4"><a class="small-text" href="#"></a></div>
                    </div>
                    <div class="product-rating me-0 ms-0 ps-0 pe-0">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light link-dark btnBuyProduct" type="button" data-button-id="sixth" onclick="document.location='https://www.digiseller.market/asp2/pay_wm.asp?id_d=3783041&lang=ru-RU'">Purchase</button></div>
                                <div class="col-6">
                                    <p class="product-price">$3.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>





    <!-- FOOTER -->

    <th:block th:insert="thymeleafParts/footer.html"></th:block>






    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.js"></script>
    <script src="/js/regionChange.js"></script>



</body>

</html>